@{
    View.Title = "Dover - Help";
    Layout = "~/Views/Shared/Help.cshtml";
}
<div id="feature">
	<div class="wrapper">
		<h2>
			Dover Help</h2>
		<p>
			Bem-vindo ao <strong>Help do Dover</strong>. Aqui você irá encontrar artigos
			escritos pelos próprios desenvolvedores. Neles estão descritas todas as funcionalidades
			do aplicativo. Tudo isso para que você possa extrair o máximo do <strong>nosso sistema</strong>.</p>
		<p>
			Permanecendo qualquer dúvida é só mandar um email para <a href="mailto:suporte@dovercms.com">
				suporte@dovercms.com</a> e prontamente iremos ajudar. E nada de vergonha! Mande
			também suas críticas, elogios e sugestões.</p>
	</div>
</div>
<div id="container">
	<div class="wrapper">
		<div id="mainCol">
			<h3>
				Inicie aqui</h3>
			<dl>
				<dt><a href="getting_started.html">Iniciando com o Dover</a></dt><dd>
					Tudo o que você precisa saber para iniciar com o <strong>Dover</strong>.
				</dd>
			</dl>
			<hr />
			<h3>
				Contatos</h3>
			<dl>
				<dt><a href="contacts_new.html">Cadastro</a></dt><dd>
					Veja como cadastrar contatos, e como funcionam os campos de redes sociais.
				</dd>
				<dt><a href="contacts_status.html">Status</a></dt><dd>
					Saiba o que significam os status dos contatos.
				</dd>
				<dt><a href="contacts_remove.html">Exclusão de contatos</a></dt><dd>
					Como excluir contatos.
				</dd>
				<dt><a href="lists_management.html">Gerenciamento de listas</a></dt><dd>
					Trabalhando com listas de contatos.
				</dd>
				<dt><a href="contacts_custom_fields.html">Campos personalizados</a></dt><dd>
					O que são e para que servem.
				</dd>
				<dt><a href="segmentation.html">Segmentação</a></dt><dd>
					As possíveis formas de segmentar sua lista de contatos e como fazê-lo.
				</dd>
			</dl>
			<hr />
			<h3>
				Importação</h3>
			<dl>
				<dt><a href="import_quick.html">Importação simples</a></dt><dd>
					Importação seus contatos de maneira rápida e simples.
				</dd>
				<dt><a href="import_spreadsheet.html">Importação de planilha</a></dt><dd>
					Importação através de planilha de dados, com criação de campos dinâmicos.
				</dd>
			</dl>
			<hr />
			<h3>
				Mensagens</h3>
			<dl>
				<dt><a href="what_is_a_campaign.html">Como funcionam as campanhas</a></dt><dd>
					O que é uma campanha e como ela pode ajudá-lo.
				</dd>
				<dt><a href="message_new.html">Como criar uma campanha</a></dt><dd>
					Aprenda como configurar uma campanha
				</dd>
				<dt><a href="message_edit.html">Editando o conteúdo de uma mensagem</a></dt><dd>
					Veja como editar o conteúdo de suas mensagens no Dover
				</dd>
				<dt><a href="message_verify.html">Verificando o conteúdo de uma mensagem</a></dt><dd>
					Saiba como verificar e corrigir dados de envio de uma mensagem
				</dd>
				<dt><a href="message_test.html">Como fazer um teste de envio da mensagem</a></dt><dd>
					Faça um envio de teste da mensagem
				</dd>
				<dt><a href="message_send.html">Realizando o envio de uma mensagem</a></dt><dd>
					Veja como realizar o envio de suas mensagens pelo Dover
				</dd>
				<dt><a href="reports.html">Relatórios de envio da mensagem</a></dt><dd>
					Entenda o que pode ser visualizado nos relatórios gerados após o envio de mensagens.
				</dd>
			</dl>
			<hr />
			<h3>
				Templates</h3>
			<dl>
				<dt><a href="templates_creating.html">Como criar templates</a></dt><dd>
					Aprenda como criar templates para usar no <strong>Dover</strong>
				</dd>
				<dt><a href="templates_uploading.html">Como realizar <em>upload</em> de template</a></dt><dd>
					Aprenda como realizar <em>upload</em> de templates no <strong>Dover</strong>
				</dd>
			</dl>
			<hr />
			<h3>
				Integração</h3>
			<dl>
				<dt><a href="integration_form.html">Por formulário</a></dt><dd>
					Utilize esta integração para cadastrar e descadastrar contatos diretamente do seu
					site.
				</dd>
				<dt><a href="integration_rest.html"><span class="caps">REST</span></a></dt><dd>
					Utilize esta integração para sincronizar sua aplicação com o Dover
				</dd>
				<dt><a href="integration_rails.html">Ruby on Rails</a></dt><dd>
					Utilize esta integração para sincronizar sua aplicação Ruby on Rails com o Dover
				</dd>
				<dt><a href="integration_spree.html">Spree</a></dt><dd>
					Utilize esta integração para sincronizar sua loja Spree com o Dover
				</dd>
				<dt><a href="integration_php.html"><span class="caps">PHP</span></a></dt><dd>
					Utilize esta integração para sincronizar sua aplicação <span class="caps">PHP</span>
					com o Dover
				</dd>
			</dl>
			<hr />
			<h3>
				Configurações</h3>
			<dl>
				<dt><a href="config_spf.html">Configurando o <span class="caps">SPF</span></a></dt><dd>
					Veja como melhorar suas entregas adicionando um <span class="caps">SPF</span> ao
					seu domínio.
				</dd>
				<dt><a href="payment.html">Pagamentos</a></dt><dd>
					Como realizar a compra de créditos.
				</dd>
				<dt><a href="users.html">Usuários</a></dt><dd>
					Como criar usuários e os níveis de permissões disponíveis.
				</dd>
				<dt><a href="config_links.html">Configuração de links</a></dt><dd>
					Configure os links das mensagens para apontarem para o seu site.
				</dd>
				<dt><a href="config_settings.html">Configuração de conta</a></dt><dd>
					Aprenda a alterar os dados cadastrais e sabia como inserir seu logo no Dover.
				</dd>
			</dl>
			<hr />
			<h3>
				Artigos úteis</h3>
			<dl>
				<dt><a href="glossary.html">Glossário de termos</a></dt><dd>
					Aprenda termos comuns em email marketing
				</dd>
				<dt><a href="go_unsubscribe.html">Tela de descadastro</a></dt><dd>
					Aprenda o que é e como configurar sua tela de descadastro
				</dd>
			</dl>
		</div>
	</div>
</div>