<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="UACEntities" connectionString="metadata=res://*/Dover.csdl|res://*/Dover.ssdl|res://*/Dover.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql2k803.discountasp.net;Initial Catalog=SQL2008_728981_dover;Persist Security Info=True;User ID=SQL2008_728981_dover_user;Password=uac@dmin;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DoverEntities" connectionString="metadata=res://*/Dover.csdl|res://*/Dover.ssdl|res://*/Dover.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=uac;Persist Security Info=True;User ID=uac;Password=uac@dmin;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>