<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false" allowLocation="true" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Com.Dover.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="DoverConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=uac;Persist Security Info=True;User ID=uac;Password=uac@dmin;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DoverEntities" connectionString="metadata=res://*/Dover.csdl|res://*/Dover.ssdl|res://*/Dover.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=uac;Persist Security Info=True;User ID=uac;Password=uac@dmin;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CloudTalkModuleEntities" connectionString="metadata=res://*/Areas.CloudTalkModule.Models.CloudTalkModule.csdl|res://*/Areas.CloudTalkModule.Models.CloudTalkModule.ssdl|res://*/Areas.CloudTalkModule.Models.CloudTalkModule.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=uac;Persist Security Info=True;User ID=uac;Password=uac@dmin;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CloudTalkEntities" connectionString="metadata=res://*/Areas.CloudTalkModule.Models.CloudTalk.csdl|res://*/Areas.CloudTalkModule.Models.CloudTalk.ssdl|res://*/Areas.CloudTalkModule.Models.CloudTalk.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mssql.tagsd.com.br;Initial Catalog=tagsd;Persist Security Info=True;User ID=tagsd;Password=tagsddb01;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <elmah>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />
    <security allowRemoteAccess="yes" />
  </elmah>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--<location path="elmah.axd">
		<system.web>
			<authorization>
				<allow roles="administrators, sysadmin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>-->
  <location path="ImageHandler.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/Register">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <machineKey validationKey="ED50A857F3D8F8750E4A2402ED0F6D8409B3FF613C1E880C49700B87F2129A36F5BA44DCE43234A84A2867A88A33C5B4A293F422457E3540EC1A28588D5882F6" decryptionKey="D61E4055965E998412D9A3561765BA482D4107E5E4551EEB26C8A879AA0C79EC" validation="SHA1" decryption="AES" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" maxQueryStringLength="4096" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="WebMatrix.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="500000" domain=".localdover.com" />
    </authentication>
    <membership defaultProvider="UACMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="DoverConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/" />
        <add name="UACMembershipProvider" type="Com.Dover.Profile.UACMembershipProvider, Com.Dover.Profile, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" connectionStringName="DoverConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/" />
      </providers>
    </membership>
    <profile defaultProvider="AspNetSqlProfileProvider" enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="DoverConnectionString" applicationName="/" />
      </providers>
      <properties>
        <add name="Name" type="System.String" />
        <group name="Address">
          <add name="Phone" type="System.String" />
          <add name="CEP" type="System.String" />
          <add name="Street" type="System.String" />
          <add name="Area" type="System.String" />
          <add name="State" type="System.String" />
          <add name="City" type="System.String" />
        </group>
        <group name="FtpInformation">
          <add name="FtpHost" type="System.String" />
          <add name="FtpUserName" type="System.String" />
          <add name="FtpPassword" type="System.String" />
        </group>
      </properties>
    </profile>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="DoverConnectionString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" viewStateEncryptionMode="Never" enableViewState="false" enableViewStateMac="false">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.Helpers" />
        <add namespace="Microsoft.Web.Mvc" />
        <add namespace="Com.Dover.Helpers" />
        <add namespace="Br.Com.Quavio.Tools.Web" />
        <add namespace="Br.Com.Quavio.Tools.Web.Mvc" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </modules>
    <handlers>
      <remove name="MvcHttpHandler" />
      <remove name="UrlRoutingHandler" />
      <remove name="ImageHandler" />
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" preCondition="integratedMode" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="dover@dovercms.com">
        <network host="smtp.dovercms.com" password="uac@dmin" userName="dover@dovercms.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <applicationSettings>
    <Com.Dover.Properties.Settings>
      <setting name="Com_Dover_com_paypal_sandbox_www_PayPalAPIInterfaceService" serializeAs="String">
        <value>https://api.sandbox.paypal.com/2.0/</value>
      </setting>
    </Com.Dover.Properties.Settings>
  </applicationSettings>
</configuration>